<a href="https://colab.research.google.com/github/Varshapmmohanan/Varshapmmohanan/blob/main/Edited_Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [2]:
data=pd.read_csv('/content/preprocessed_data (6).csv')

In [3]:
data

,Customer_ID,Age,Occupation,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Annual_Income_to_Outstanding_Debt,Credit_Score_Encoded
0,3392,23.0,12,19114.12,3.0,4.0,3.0,4.0,128,3.0,...,26.822620,265.0,1,49.574949,21.465380,2,312.494089,0,23.598262,0
1,3392,23.0,12,19114.12,3.0,4.0,3.0,4.0,128,3.0,...,31.944960,266.0,1,49.574949,21.465380,3,284.629162,0,23.598262,0
2,3392,23.0,12,19114.12,3.0,4.0,3.0,4.0,128,3.0,...,28.609352,267.0,1,49.574949,21.465380,4,331.209863,0,23.598262,0
3,3392,23.0,12,19114.12,3.0,4.0,3.0,4.0,128,5.0,...,31.377862,268.0,1,49.574949,21.465380,5,223.451310,0,23.598262,0
4,3392,23.0,12,19114.12,3.0,4.0,3.0,4.0,128,6.0,...,24.797347,269.0,1,49.574949,21.465380,1,341.489231,0,23.598262,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,37932,25.0,9,39628.99,4.0,6.0,7.0,2.0,683,23.0,...,34.663572,378.0,1,35.104023,24.028477,0,479.866228,1,78.882499,1
99996,37932,25.0,9,39628.99,4.0,6.0,7.0,2.0,683,18.0,...,40.565631,379.0,1,35.104023,24.028477,1,496.651610,1,78.882499,1
99997,37932,25.0,9,39628.99,4.0,6.0,7.0,2.0,683,27.0,...,41.255522,380.0,1,35.104023,24.028477,0,516.809083,1,78.882499,1
99998,37932,25.0,9,39628.99,4.0,6.0,7.0,2.0,683,20.0,...,33.638208,381.0,1,35.104023,24.028477,3,319.164979,2,78.882499,2
99999,37932,25.0,9,39628.99,4.0,6.0,7.0,2.0,683,18.0,...,34.192463,382.0,1,35.104023,24.028477,1,393.673696,1,78.882499,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Customer_ID                        100000 non-null  int64
 1   Age                                100000 non-null  float64
 2   Occupation                         100000 non-null  int64
 3   Annual_Income                      100000 non-null  float64
 4   Num_Bank_Accounts                  100000 non-null  float64
 5   Num_Credit_Card                    100000 non-null  float64
 6   Interest_Rate                      100000 non-null  float64
 7   Num_of_Loan                        100000 non-null  float64
 8   Type_of_Loan                       100000 non-null  int64
 9   Delay_from_due_date                100000 non-null  float64
 10  Num_of_Delayed_Payment             100000 non-null  float64
 11  Changed_Credit_Limit               100000 non-null  float64
 12  Num_Credit_Inquiries               100000 non-null  float64
 13  Credit_Mix                         100000 non-null  int64
 14  Outstanding_Debt                   100000 non-null  float64
 15  Credit_Utilization_Ratio           100000 non-null  float64
 16  Credit_History_Age                 100000 non-null  float64
 17  Payment_of_Min_Amount              100000 non-null  int64
 18  Total_EMI_per_month                100000 non-null  float64
 19  Amount_invested_monthly            100000 non-null  float64
 20  Payment_Behaviour                  100000 non-null  int64
 21  Monthly_Balance                    100000 non-null  float64
 22  Credit_Score                       100000 non-null  int64
 23  Annual_Income_to_Outstanding_Debt  100000 non-null  float64
 24  Credit_Score_Encoded               100000 non-null  int64
dtypes: float64(17), int64(8)
memory usage: 19.1 MB

In [5]:
X = data[['Annual_Income', 'Num_Bank_Accounts','Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan','Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit','Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt','Credit_Utilization_Ratio', 'Credit_History_Age']] # Feature]
y = data['Credit_Score']  # Target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
# Initialize and train the Logistic Regression model
log_reg_model = LogisticRegression()
log_reg_model.fit(X_train_scaled, y_train)
# Predictions
train_predictions = log_reg_model.predict(X_train_scaled)
test_predictions = log_reg_model.predict(X_test_scaled)

# Model evaluation
train_accuracy = accuracy_score(y_train, train_predictions)
test_accuracy = accuracy_score(y_test, test_predictions)

print("Training Accuracy:", train_accuracy)
print("Testing Accuracy:", test_accuracy)

# Additional evaluation metrics
print("Classification Report:")
print(classification_report(y_test, test_predictions))

Training Accuracy: 0.646875
Testing Accuracy: 0.6493
Classification Report:
              precision    recall  f1-score   support

           0       0.57      0.55      0.56      3527
           1       0.66      0.53      0.59      5874
           2       0.67      0.75      0.71     10599

    accuracy                           0.65     20000
   macro avg       0.63      0.61      0.62     20000
weighted avg       0.65      0.65      0.65     20000

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [7]:
# Assuming the dataset has features and target variable
X = data[['Annual_Income', 'Num_Bank_Accounts','Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan','Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit','Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt','Credit_Utilization_Ratio', 'Credit_History_Age']] # Feature]
y = data['Credit_Score']  # Target variable
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize and train the Random Forest model
random_forest_model = RandomForestClassifier(random_state=42)
random_forest_model.fit(X_train, y_train)
# Predictions
train_predictions = random_forest_model.predict(X_train)
test_predictions = random_forest_model.predict(X_test)
# Model evaluation
train_accuracy = accuracy_score(y_train, train_predictions)
test_accuracy = accuracy_score(y_test, test_predictions)

print("Training Accuracy:", train_accuracy)
print("Testing Accuracy:", test_accuracy)

# Additional evaluation metrics
print("Classification Report:")
print(classification_report(y_test, test_predictions))

Training Accuracy: 1.0
Testing Accuracy: 0.8122
Classification Report:
              precision    recall  f1-score   support

           0       0.77      0.77      0.77      3527
           1       0.80      0.84      0.82      5874
           2       0.83      0.81      0.82     10599

    accuracy                           0.81     20000
   macro avg       0.80      0.81      0.80     20000
weighted avg       0.81      0.81      0.81     20000

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

In [9]:
# Assuming the dataset has features and target variable
X = data[['Annual_Income', 'Num_Bank_Accounts','Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan','Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit','Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt','Credit_Utilization_Ratio', 'Credit_History_Age']] # Feature]
y = data['Credit_Score']  # Target variable
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the XGBoost regressor model
xgb_model = XGBRegressor(random_state=42)
xgb_model.fit(X_train, y_train)

# Predictions
train_predictions = xgb_model.predict(X_train)
test_predictions = xgb_model.predict(X_test)

# Model evaluation
train_rmse = mean_squared_error(y_train, train_predictions, squared=False)
test_rmse = mean_squared_error(y_test, test_predictions, squared=False)

print("Training RMSE:", train_rmse)
print("Testing RMSE:", test_rmse)

Training RMSE: 0.5417600173465558
Testing RMSE: 0.6016395195862817

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

In [11]:




# Assuming the dataset has features and target variable
X = data[['Annual_Income', 'Num_Bank_Accounts','Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan','Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit','Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt','Credit_Utilization_Ratio', 'Credit_History_Age']] # Feature]
y = data['Credit_Score']  # Target variable

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Lasso regression model
lasso_model = Lasso(alpha=0.1, random_state=42)  # You can adjust the alpha parameter for regularization strength
lasso_model.fit(X_train, y_train)

# Predictions
train_predictions = lasso_model.predict(X_train)
test_predictions = lasso_model.predict(X_test)

# Model evaluation
train_rmse = mean_squared_error(y_train, train_predictions, squared=False)
test_rmse = mean_squared_error(y_test, test_predictions, squared=False)

print("Training RMSE:", train_rmse)
print("Testing RMSE:", test_rmse)

Training RMSE: 0.7231482196260035
Testing RMSE: 0.7231427022855839